---
import { Image } from "astro:assets";
import suraLogo from "../assets/logo-cf-negative.svg";
const currentYear = new Date().getFullYear();

const footerLinks = [
  {
    title: "Home",
    links: [
      { text: "Home", section: "#" },
      { text: "Servicios", section: "#servicios" },
      { text: "Salud y Vida", section: "#steps" },
      { text: "Contacto", section: "#contact" },
    ],
  },
];
---

<footer
  class="bg-slate-900 text-white pt-16 pb-8 bg-footer bg-position-center-top"
>
  <div class="container-custom">
    <div
      class="space-y-6 md:space-y-0 flex flex-col sm:flex-row justify-around items-start mb-12"
    >
      <div>
        <a href="#" class="flex items-center mb-6" aria-label="Go to homepage">
          <Image src={suraLogo} alt="Sura logo" width={180} />
        </a>
        <hr class="mb-2 border-gray-700" />
        <h3 class="text-sm font-semibold mb-4">Asesor de Seguros Sura</h3>

        <div class="flex space-x-4">
          <a
            href="https://www.instagram.com/carlosmfarfan?igsh=MW8zaW4wbTh0NTE5Zg%3D%3D&utm_source=qr"
            class="text-gray-300 hover:text-primary-400 transition-colors"
            aria-label="Instagram"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              fill="currentColor"
              ><path
                d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"
              ></path><circle cx="11.994" cy="11.979" r="3.003"></circle></svg
            >
          </a>
          <a
            href="https://www.facebook.com/share/1HWNTD3LH4/?mibextid=wwXIfr"            
            class="text-gray-300 hover:text-primary-400 transition-colors"
            aria-label="Facebook"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              fill="currentColor"
              ><path
                d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"
              ></path></svg
            >
          </a>
          <a
            href="https://wa.me/573186298233"
            class="text-gray-300 hover:text-primary-400 transition-colors"
            aria-label="Whatsapp"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              fill="currentColor"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.403 5.633A8.919 8.919 0 0 0 12.053 3c-4.948 0-8.976 4.027-8.978 8.977 0 1.582.413 3.126 1.198 4.488L3 21.116l4.759-1.249a8.981 8.981 0 0 0 4.29 1.093h.004c4.947 0 8.975-4.027 8.977-8.977a8.926 8.926 0 0 0-2.627-6.35m-6.35 13.812h-.003a7.446 7.446 0 0 1-3.798-1.041l-.272-.162-2.824.741.753-2.753-.177-.282a7.448 7.448 0 0 1-1.141-3.971c.002-4.114 3.349-7.461 7.465-7.461a7.413 7.413 0 0 1 5.275 2.188 7.42 7.42 0 0 1 2.183 5.279c-.002 4.114-3.349 7.462-7.461 7.462m4.093-5.589c-.225-.113-1.327-.655-1.533-.73-.205-.075-.354-.112-.504.112s-.58.729-.711.879-.262.168-.486.056-.947-.349-1.804-1.113c-.667-.595-1.117-1.329-1.248-1.554s-.014-.346.099-.458c.101-.1.224-.262.336-.393.112-.131.149-.224.224-.374s.038-.281-.019-.393c-.056-.113-.505-1.217-.692-1.666-.181-.435-.366-.377-.504-.383a9.65 9.65 0 0 0-.429-.008.826.826 0 0 0-.599.28c-.206.225-.785.767-.785 1.871s.804 2.171.916 2.321c.112.15 1.582 2.415 3.832 3.387.536.231.954.369 1.279.473.537.171 1.026.146 1.413.089.431-.064 1.327-.542 1.514-1.066.187-.524.187-.973.131-1.067-.056-.094-.207-.151-.43-.263"
              ></path></svg
            >
          </a>
        </div>
      </div>

      {
        footerLinks.map((column) => (
          <div>
            <ul class="space-y-3">
              {column.links.map((link) => (
                <li>
                  <a
                    href={link.section}
                    class="text-gray-300 hover:text-primary-400 transition-colors"
                  >
                    {link.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }

      <div>
        <ul class="space-y-3">
          <li>
            <a
              href="mailto:carlos.farfan@asesorsura.com"
              class="inline-flex items-start gap-2 text-gray-300 hover:text-primary-400 transition-colors"
            >
              <span class="w-5 h-5 flex-shrink-0 mt-0.5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  class="w-full h-full"
                  ><path
                    d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"
                  ></path></svg
                >
              </span>
              <span class="leading-snug"> carlos.farfan@asesorsura.com</span>
            </a>
          </li>
          <li>
            <div
              class="inline-flex items-start gap-2 text-gray-300"
            >
              <span class="w-5 h-5 flex-shrink-0 mt-0.5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  class="w-full h-full"
                  ><path
                    d="M11.42 21.815a1.004 1.004 0 0 0 1.16 0C12.884 21.598 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.996c-.029 6.444 7.116 11.602 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.004.021 4.438-4.388 8.423-6 9.731-1.611-1.308-6.021-5.293-6-9.735 0-3.309 2.691-6 6-6z"
                  ></path><path d="M11 14h2v-3h3V9h-3V6h-2v3H8v2h3z"
                  ></path></svg
                >
              </span>
              <span class="leading-snug">
                Calle 13a # 103-43 piso 2<br />Ciudad Jardín - Cali - Colombia
              </span>
            </div>
          </li>
          <li>
            <a
              href="tel:573186298233"
              class="inline-flex items-start gap-2 text-gray-300 hover:text-primary-400 transition-colors"
            >
              <span class="w-5 h-5 flex-shrink-0 mt-0.5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  class="w-full h-full"
                  ><path
                    d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"
                  ></path></svg
                >
              </span>
              <span class="leading-snug"> 3186298233 </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="border-t border-gray-700 pt-8 mt-8">
      <div class="flex flex-col md:flex-row justify-center items-center">
        <p class="text-gray-400 text-sm mb-4 md:mb-0">
          &copy; {currentYear} CARLOS FARFAN asesor de seguros - Todos los Derechos Reservados
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
  .bg-footer {
    background-image: url("../assets/demo-marketing-footer-dot.svg");
  }

  .bg-position-center-top {
    background-position: center top !important;
  }
</style>
